@import url("properties.css");
html{
    background-image: url("../IMG/backgrounds/background5.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;  
}
body{
    background: var(--cover);
}
.forms{
    width: 100%;
    backdrop-filter: blur(10px);
    background: rgba(255, 255, 255, 0.1);
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.384);
    border-radius: 20px;
    overflow: hidden;
}
.forms .titlePhrase{
    position: absolute;
    top: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
}
.forms .titlePhrase h2{
    font-size: 1rem;
    text-align: center;
}
.phrase{
    font-size: 11px;
    font-weight: 500;
}
.phrase .strongPhrase{
    font-weight: 600;
    color: bisque;
}
.forms #formCadastro h2{
    color: var(--font-color-1);
}
.forms #formLogin h2{
    color: var(--font-color-2);
}
#formCadastro{
    background: linear-gradient(to bottom, #dfe3ee77, #cfd8e333);
}
#formLogin{
    background: linear-gradient(to bottom, #1c1c1cbb, #33333352);
}
#formCadastro,
#formLogin{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    position: relative;
}
#formLogin .phrase{
    color: white;
}
.form-control{
    width: 90%;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 5px 0;
}

.form-control:nth-child(5){
    padding: 10px 0;
}

.form-control label{
    width: 90%;
    font-weight: 500;
    max-width: 400px;
    margin-bottom: 3px;
}
.form-control .form-control-inside{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.form-control .form-control-inside input{
    width: 85%;
    padding: 5.5px;
    background: transparent;
    border: none;
    box-shadow: var(--box-shadow);
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    outline: none;
    padding-left: 10px;
    max-width: 400px;
}
#formCadastro .form-control .form-control-inside input::placeholder{
    color: rgb(0, 0, 0);
    font-weight: 300;
}
#formLogin .form-control .form-control-inside input::placeholder{
    color: rgb(255, 255, 255);
    font-weight: 300;
}
#formLogin input,
#formLogin ion-icon,
#formLogin button{
    box-shadow: var(--box-shadow-2);
}
#formLogin label{
    color: var(--font-color-2);
} 
.form-control .form-control-inside ion-icon{
    box-shadow: var(--box-shadow);
    padding: 6.2px;
    border-top-right-radius: 40%;
    border-bottom-right-radius: 40%;
}
.form-control .form-control-inside .eyeSenha:hover,
.form-control .form-control-inside .eyeSenha:active{
    background: var(--button-hover);
    cursor: pointer;
}

.form-control.footer{
    width: 100%;
    gap: 10px;
    padding: 10px 0 ;
    position: absolute;
    bottom: 10px;
    margin: 0 0 5px 0;
    flex-direction: row;
}
.form-control.footer button{
    gap: 5px;
}
.form-control.footer button img{
    width: 15px;
    height: 15px;
}
