@import url('https://fonts.googleapis.com/css2?family=SUSE:wght@100..800&display=swap');

:root{
    --font-style: "SUSE", sans-serif;
    --button-hover: white;
    --cover: rgba(0, 0, 0, 0.253);
    --font-color-1: rgb(0, 0, 0);
    --font-color-2: rgb(255, 255, 255);
    --button-background: rgba(255, 255, 255, 0.041);
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    transition: all .1s ease-in-out;
    font-family: var(--font-style);
}
body{
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
}
.form-control{
    width: 90%;
    height: fit-content;
}
button{
    width: 40%;
    height: fit-content;
    border-radius: 20px;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 120px;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 11px;
    border: none;
    cursor: pointer;
    background: var(--button-background);
    box-shadow: 0 0 5px rgb(49, 49, 49);
}
button:hover{
    background: var(--button-hover);
}